/* div{
	border: 1px solid black;
} */
body:not(.container-5){
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	margin-left: 14%;
	margin-right: 14%;
	font-size: 16px;
}
body:not(nav){
	margin-top: 80px;
}
h1, h2, h3, h4 {
    margin: 1em 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
}
.container-1{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	padding-left: 15%;
	padding-right: 15%;
}

.menu-nav li:hover > ul{
	display: block;
	width: 150px;
	margin-left: -50px;
	
}
.menu-nav li {
	position: relative;

}
.menu-nav li ul{
	display: none;
	width: 200px;
	position: absolute;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background: hsla(0,0%,100%,.98);
}
ul{
	/*border:solid 1px bold; */
	width:270px; 
	margin:0;
	font-size: .9375rem;
    font-weight: 400;
}
.dropdown{
	position: relative;
}
.dropdown-conetent:hover{
	position: absolute;
}
.box2 ul li{
	display: inline-block;
	list-style-type: none;
	margin: 10px;
}
.box2 ul li a:not(.about-us){
	text-decoration: none;
	color: #ababab;
}
a.about-us{
	color: #00b39b;
	text-decoration: none;
}
.box2 ul li a:hover{
	color: #00b39b;
}
.container-2{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
div{
	margin-top: 6px;
	margin-bottom: 6px;
}
h1 {
    font-size: 2.125rem;
    color: #00b39b;
}
.box21{
	padding-top: 15px;
}
.box23{
	display: flex;	
	justify-content: space-between;
}
.box23 p {
	flex-basis: 49%;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
    margin: .8em 0;
    line-height: 1.75;
    font-weight: 400;
}
.container-3{
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}
.box31-container{
	background: #00b39b;
	flex-basis: 41%;
	border-radius: 10px;
	overflow: hidden;
	padding: 1.375em 2.5em 0;
}
.box32-container{
	background: #3d83df;
	flex-basis: 41%;
	border-radius: 10px;
	overflow: hidden;
	padding: 1.375em 2.5em 0;
}
.box311 h2,.box321 h2{
	font-size: .875em;
    font-weight: 400;
    margin: 0;
    color: hsla(0,0%,100%,.7);
}
.box311 h1,.box321 h1{
	font-size: 1.625em;
    color: #fff;
    margin-top: .3em;
}
.box312{
	display: flex;
	justify-content: space-between;
}
.box3121,.box3122{
	margin: 0;
	padding: 0;
}
.sel1{
    border-radius: 5px;
    height: 40px;
}
.box322 figure img{
	margin-left: 50%;
	height: auto;
	margin-top: 10%;
	
}
.box3122 figure img{
	margin-top: 10%;
}
.box42 ul li{
	list-style-type: none;
	padding: 10px 0;
	display: inline-block;
	width: 168px;	
}
.box42 ul{
	float: left;
    font-size: 0;
    width: 100%;
	list-style: none;
}
ul li a svg{
	height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
    opacity: 0.3;
}
ul li a svg:hover{
	fill: #00b39b;
	opacity: 1
}
.container-4 {
	display: flex;
	flex-basis: 10% 90%;
}
.box41{
	flex: 1;
	margin: 0;
}
.box42{
	flex: 2.6;
	margin: 0px;
	padding: 40px 0 0 0;
}

.bg{
	background: #e5faf8;
	background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
	padding: 1.875em 0 .625em;
    overflow: hidden;
	margin: 3.125rem auto 5.5rem;
	display: block;
	position: relative;
	width: 100%;
}

.container-5::before{
	content: "";
    position: absolute;
    right: 67%;
    top: 45%;
    background: url(/logo/big-logo.png) no-repeat;
    width: 456px;
    height: 435px;
    pointer-events: none;
}